<div
  #container
  class="w-full aspect-square cursor-pointer select-none transition-all"
  (click)="$event.stopPropagation(); onClick()"
>
  <div
    *ngIf="isEnemy() || isSelected() || isFriendly()"
    class="h-full w-full absolute p-2 xs:p-4"
  >
    <div
      class="h-full w-full border-4 xs:border-8 {{
        isEnemy()
          ? 'border-red-700'
          : isFriendly()
          ? 'border-green-700'
          : 'border-blue-700'
      }} rounded-xl"
    ></div>
  </div>
  <div class="h-full w-full animate-bounce">
    <div class="h-full w-full absolute inline-block align-middle">
      <span
        class="inline-block"
        [ngStyle]="{
          'font-size': calculatedFontSize * 0.75 + 'px',
          'line-height': calculatedFontSize * 0.75 + 'px',
          height: calculatedFontSize * 0.75 + 'px',
          filter: parameters.moved ? 'sepia(1)' : '',
        }"
        >🦜</span
      >
    </div>
    <div #overlay class="h-full w-full absolute text-transparent">
      <span
        class="{{ linearGradient ? 'inline-block' : '' }}"
        [ngStyle]="{
          'font-size': calculatedFontSize * 0.75 + 'px',
          'line-height': calculatedFontSize * 0.75 + 'px',
          height: calculatedFontSize * 0.75 + 'px',
          mask: (this.linearGradient ? 'linear' : 'conic') + '-gradient(white '
          + (1 - this.parameters.hp / this.parameters.max_hp) * 100 + '%, transparent 0%)',
          '-webkit-mask': (this.linearGradient ? 'linear' : 'conic') + '-gradient(white '
          + (1 - this.parameters.hp / this.parameters.max_hp) * 100 + '%, transparent 0%)',
        }"
        [style.text-shadow]="'0 0 0 rgb(185 28 28)'"
        >🦜</span
      >
    </div>
  </div>
</div>
