<div
  #container
  class="w-full transition-all cursor-pointer select-none aspect-square"
  (click)="$event.stopPropagation(); onClick()"
>
  <div class="w-full h-full animate-bounce">
    <div class="absolute inline-block w-full h-full align-middle">
      <img
        class="{{
          parameters.moved
            ? 'drop-shadow-outline--sepia'
            : 'drop-shadow-outline'
        }}"
        [src]="'assets/svg/' + parameters.appearance + '.svg'"
      />
    </div>
    <div #overlay class="absolute w-full h-full text-transparent">
      <img
        class="drop-shadow-outline--red"
        [ngStyle]="{
          mask:
            (this.linearGradient ? 'linear' : 'conic') +
            '-gradient(white ' +
            (1 - this.parameters.hp / this.parameters.maxHp) * 100 +
            '%, transparent 0%)',
          '-webkit-mask':
            (this.linearGradient ? 'linear' : 'conic') +
            '-gradient(white ' +
            (1 - this.parameters.hp / this.parameters.maxHp) * 100 +
            '%, transparent 0%)'
        }"
        [src]="'assets/svg/' + parameters.appearance + '.svg'"
      />
    </div>
  </div>
  <div
    @IconEnterAndLeave
    *ngIf="selectedAction && isTargettable()"
    class="absolute w-full h-full p-2 xs:p-4 top-0"
  >
    <div class="w-1/2 h-1/2 m-auto">
      <img
        class="drop-shadow-outline"
        [src]="'assets/svg/' + selectedAction.appearance + '.svg'"
      />
    </div>
  </div>
  <div
    @IconEnterAndLeave
    *ngIf="isSelected()"
    class="absolute w-full h-full top-[-45%]"
  >
    <div class="w-1/2 h-1/2 mx-auto">
      <img class="drop-shadow-outline" [src]="'assets/svg/u1f53b.svg'" />
    </div>
  </div>
  <div
    class="absolute flex bottom-[10%] w-full justify-center rounded-md flex-col"
  >
    <div class="flex w-full gap-1 mb-1">
      <div class="w-1/5" *ngFor="let status of parameters.statuses">
        <img
          class="drop-shadow-outline"
          [src]="'assets/svg/' + status.appearance + '.svg'"
        />
      </div>
    </div>
    <div
      class="text-xs xs:text-base border-2 px-1 min-w-[65%] text-center whitespace-nowrap overflow-hidden border-gray-900 rounded-md"
      [ngClass]="{
        'bg-red-300': parameters.player === 'ai' && !isSelected(),
        'bg-green-300': parameters.player === 'human' && !isSelected(),
        'bg-blue-300': isSelected()
      }"
    >
      {{ parameters.hp }} / {{ parameters.maxHp }}
    </div>
  </div>
</div>
