<div
  #container
  class="w-full transition-all cursor-pointer select-none aspect-square"
  (click)="$event.stopPropagation(); onClick()"
>
  <div *ngIf="isEnemy() || isSelected() || isFriendly()" class="absolute w-full h-full p-2 xs:p-4">
    <div
      class="h-full w-full border-4 {{
        isEnemy() ? 'border-red-700' : isFriendly() ? 'border-lime-500' : 'border-blue-700'
      }} rounded-full"
    ></div>
  </div>
  <div class="w-full h-full animate-bounce">
    <div class="absolute inline-block w-full h-full align-middle">
      <span
        class="inline-block"
        [ngStyle]="{
          'font-size': calculatedFontSize * 0.75 + 'px',
          'line-height': calculatedFontSize * 0.75 + 'px',
          'font-family': 'NotoColorEmoji-Regular',
          height: calculatedFontSize * 0.75 + 'px',
          filter: parameters.moved ? 'sepia(1)' : '',
          'text-shadow':
            '-1px -1px 0 rgb(17 24 39), 1px -1px 0 rgb(17 24 39), -1px 1px 0 rgb(17 24 39), 1px 1px 0 rgb(17 24 39)'
        }"
        [innerHTML]="parameters.appearance"
      >
      </span>
    </div>
    <div #overlay class="absolute w-full h-full text-transparent">
      <span
        class="{{ linearGradient ? 'inline-block' : '' }}"
        [ngStyle]="{
          'font-size': calculatedFontSize * 0.75 + 'px',
          'line-height': calculatedFontSize * 0.75 + 'px',
          'font-family': 'NotoColorEmoji-Regular',
          height: calculatedFontSize * 0.75 + 'px',
          mask:
            (this.linearGradient ? 'linear' : 'conic') +
            '-gradient(white ' +
            (1 - this.parameters.hp / this.parameters.maxHp) * 100 +
            '%, transparent 0%)',
          '-webkit-mask':
            (this.linearGradient ? 'linear' : 'conic') +
            '-gradient(white ' +
            (1 - this.parameters.hp / this.parameters.maxHp) * 100 +
            '%, transparent 0%)',
          'text-shadow': '0 0 0 rgb(185 28 28)'
        }"
        [innerHTML]="parameters.appearance"
      >
      </span>
    </div>
  </div>
</div>
