<div
  class="flex h-screen justify-center content-center max-md:flex-col flex-wrap"
>
  <div
    class="w-full max-md:max-w-[65vh] md:w-full flex justify-center content-center flex-grow relative"
  >
    <div
      class="w-full md:w-[calc(min(100vh+300px-26px,100%))] border-t-2 border-l-2 border-r-2 border-indigo-300 bg-indigo-100 text-center font-bold rounded-tl-md rounded-tr-md max-md:absolute bottom-0"
    >
      {{ "Round " + roundNumber | uppercase }}
    </div>
  </div>
  <div
    (click)="deselect()"
    class="w-full max-md:max-w-[65vh] md:w-[calc(min(100vh-26px,100vw-300px))] aspect-square bg-emerald-100 border-2 border-emerald-300 relative md:rounded-bl-md"
  >
    <ani-character
      @leave
      *ngFor="let character of participatingCharacters"
      [parameters]="character"
      [style.left]="(+character.x - 1) * 20 + '%'"
      [style.top]="(+character.y - 1) * 20 + '%'"
      class="w-1/5 h-1/5 absolute block transition-all"
    ></ani-character>
  </div>
  <div
    class="w-full max-md:max-w-[65vh] md:w-[300px] md:h-[calc(min(100vh-26px,100vw-300px))] relative max-md:flex-grow"
  >
    <ani-character-preview
      class="absolute w-full md:h-full"
    ></ani-character-preview>
  </div>
</div>
<div
  *ngIf="battleResult"
  class="fixed w-screen h-screen flex items-center justify-center top-0"
>
  <div
    class="w-80 h-40 bg-amber-100 border-2 border-amber-300 rounded-md flex items-center justify-center"
  >
    {{ battleResult | uppercase }}
  </div>
</div>
