<div
  class="flex h-[calc(99dvh+1lvh)] w-screen justify-center content-center max-md:flex-col flex-wrap"
>
  <div
    class="w-full max-md:max-w-[65dvh] md:w-full flex justify-center content-center flex-grow relative"
  >
    <div
      class="mt-1 p-2 bg-fuchsia-100 text-gray-900 text-center font-bold rounded-md max-md:absolute bottom-0 border-2 border-gray-900"
    >
      {{ "Round " + roundNumber | uppercase }}
    </div>
  </div>
  <div
    (click)="deselect()"
    class="w-full max-md:max-w-[65dvh] md:w-[calc(min(100dvh-48px,100vw-150px))] aspect-square relative md:rounded-bl-md"
  >
    <ani-character
      @leave
      *ngFor="let character of participatingCharacters"
      [parameters]="character"
      [style.left]="(+character.x - 1) * 20 + '%'"
      [style.top]="(+character.y - 1) * 20 + '%'"
      class="w-1/5 h-1/5 absolute block transition-all"
    ></ani-character>
  </div>
  <div
    class="w-full max-md:max-w-[65dvh] md:w-[150px] md:h-[calc(min(100dvh-48px,100vw-150px))] relative max-md:flex-grow"
  >
    <ani-character-preview
      class="absolute w-full md:h-full max-h-full overflow-auto"
    ></ani-character-preview>
  </div>
</div>
<div
  *ngIf="battleResult"
  class="fixed w-screen h-screen flex items-center justify-center top-0"
>
  <div
    class="w-80 h-40 bg-amber-300 rounded-md flex items-center justify-center font-bold border-2 border-gray-900"
  >
    {{ battleResult | uppercase }}
  </div>
</div>
